<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN - CYRIx86</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <style>
        form {
            position: absolute;
            top: 0;
            right: 0;
            width: 300px;
            background: rgb(0, 0, 0, 0.8);
            height: 100%;
            padding: .5rem;
            color: #e5e5e5;
        }

        input {
            padding: .5rem;
            color: #e5e5e5;
            font-size: 1rem;
            background: rgba(255, 255, 255, 0.1);
            margin: .3rem auto;
            width: 100%;
        }

        input[type="submit"]:hover {
            background: var(--primary);
            cursor: pointer;
        }
    </style>
</head>

<body>
    <%- include("bg") %>
        <form action="/" method="post">
            <h2>LOGIN</h2>
            <input type="password" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="submit" value="LOGIN">
        </form>
</body>

</html>